.header-wrapper {
    display: grid;
  width: 100%;
  min-width: 350px;
background-color: var(--primary-black);
color: white;
  grid-gap: 1rem;
grid-template-columns: repeat(5, [col-start] 1fr);
    height: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-logo{
    margin: 2% 7%;
    grid-column: col-start 1/ 3;
}
.header-logo *{
    display: inline-block;
}
.header-logo-text{
    font-weight: 300;
}

.header-options{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: col-start 5/6;
    margin-right: 0.5rem;
}

.header-login{
   background-color: var(--primary-black);
    color: white;
    padding:  0.5rem ;
    height: 60%;
   margin: auto;
   cursor: pointer;
 
}
.badge-wrapper{
    margin: 0.5rem auto;
}
.header-icon{
  display: flex;
    margin: 0.5rem;
    margin-left: 0.75rem;
}

.header-text-sm{
    width: 80%;
    margin: auto;
}

.badge-top-right{
    display: inline-flex;
    background-color: var(--CTA);
    border-radius: 50%;
    font-size: 0.8rem;
    padding: 0.05rem 0.45rem;
    margin-top: -2rem;
    margin-left: -0.5rem;
}
.menu-list{
  display: none;
  position: absolute;
  top:3rem;
  right:0;
 
  width: 20%;
  text-align: center;
  background-color: var(--primary-black) ;
  color: white;
  padding: 0.5rem 1.5rem;

}
.mobile-menu-list{
list-style: none;
}
.mobile-menu-list li{
  margin: 0.5rem auto;
}
@media screen and (max-width: 664px) {
    .header-options{
 display: none;
    }
    .menu-list{
      display: flex;
      /* align-items: center; */
    }
    .menu-mobile{
      display: flex;
    }
    .header-logo{
      grid-column: col-start 1/5  ;
    }
   
  
  }
 