.auth-container{
    background-image: url("../../images/home-banner.jpg");
    height: auto;
}
.signup-card-wrapper{
    margin-top: 3.5rem;
  
    display: flex;
    justify-content: center;
    align-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-card-wrapper{
    margin-top: 3.5rem;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.login-card{
   
   margin: 2rem auto;
    background-color: var(--primary-black);
    padding: 1rem;
    color: white;
    width: 50%;
    height: auto;  
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.login-heading{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: 3px solid underline;
    text-decoration-color: var(--CTA-light);
    
}
.login-inputs{
margin: 1.5rem 0.5rem ;
}
.login-input-element{
    padding: 0.5rem;
}
.login-label{
    margin-left: 1rem;
}
.login-input-pwd{
  
width: 80%;
background-color: var(--primary-black);
color: white;


}
.login-input-field{
    color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid var(--CTA-light);
    padding: 0.5rem;
    width: 90%;
    min-width: 50%;
    border-radius: 0.25rem;
    margin: 0.5rem;
    background-color: transparent;
}
.eye-icon{
    color: var(--CTA);
    width: 1rem;
    justify-self: right;

}
.login-input-field:focus{
border: 2px solid var(--CTA);
}
.login-input-theme{
    color: var(--CTA);
}
.input-check-label{
    margin-left: 0.5rem;
    color: white;
    font-weight: 300;
}
.inp-check{
   accent-color: var(--CTA);
}
.btn-flex{
    display: flex;
    align-items: center;
    justify-content: center;
  

}

.login-link{
    background-color: var(--CTA);
    color: white;
    text-align: center;
    width: 70%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem auto ;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.signup-link{
    background-color: transparent;
    border: 1.5px solid white;
    color: white;
    text-align: center;
    width: 80%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem auto ;
    text-decoration: none;
    font-size: 1.1rem;
}
.col-cta{
    color: var(--CTA);
}
.link-col-cta:hover{
    color: var(--CTA);
}
.disabled-btn{
    cursor: not-allowed;
}
/* Resp */
@media screen and (max-width:900px){
   .login-card{
       width: 80%;
        padding: 0.5rem;
        height: max-content;
   }
    
}
.notfound-page{
    height: 80vh;
}
.notfound-banner{
    width: 100%;
    height: 73vh;
}
.notfound-text{
    margin: 1rem auto;
    width: 90%;
    color: var(--CTA);
    margin-top: 5rem;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}